/* RESET */
/* Command + / will make a comment tag in your text editor */

/* remove browser default margins on page */
html, body {
	margin: 0;
}
/* border-box tells the browser to account for any 
border and padding in the values when you specify 
for an element's width and height.  */

* {
	box-sizing: border-box;
}

/* when you float you need a clearfix on the container 
element to make sure that it wraps around the floated 
items as expected */

.clearfix::after {
	display: block;
	clear: both;
	/*	this ensures cross browser and legacy browser 
	compatibility */
	height: 0;
	font-size: 0;
}